
<div class="main_section large-8 columns">
<h1 class="featured">We are setting up the <br/><span style="text-decoration:underline">LARGEST</span> Local<br/>Businesses Marketing <br/>Network in Kenya!</h1>

   <div class = "featured_images">
    
     <div class="image">
      <img src="assets/images/call_center_exec_icon.png">
     <span style="position:absolute;bottom:0px; color: #4E0C7D;">Call Center</span>
    </div>
    <div class="image" style="padding-top:50px">
      <img src="assets/images/messaging.png">
     <span style="position:absolute;bottom:0px; color: #417505;">Messaging</span>
    </div>
  <div class="image">
      <img src="assets/images/www_icon.png">
     <span style="position:absolute;top:0px; color: #7ED321;">Web</span>
    </div>
    
    <div class="image">

      <img src="assets/images/apps_icon.png">
     <span style="position:absolute;top:0px; color: #F67B2E;">Apps</span>
    </div>
   <div class="image" style="width:40%">

      <img src="assets/images/social_nw_icon.png">
     <span style="position:absolute;bottom:0px; color: #619EE6;">Social Networks</span>
  </div>
    
   <div class="image" style="width:40%">

      <img src="assets/images/social_broadcast_icon.png">
     <span style="position:absolute;  bottom:0px; color: #D156EA;">Social Media Marketing</span>
    </div>

 
  </div>
 <hr/>

<div class="row">

<h1 class="content">With Presence across all major Marketing </br> Channels, We help your business ...</h1>

<div class="large-4 columns">
<img src="assets/images/get_discovered_icon.png" style="margin:0 auto;text-align:center;display:block">
<h4 class="widget_title">Get Discovered</h4>
<p class="widget_text">Add your Business and get discovered by new clients on our Marketing Channels</p>

</div>
<div class="large-4 columns">
<img src="assets/images/get_new_cust_icon.png" style="margin:0 auto;text-align:center;display:block">
<h4 class="widget_title">Get New Customers</h4>
<p class="widget_text">Use our Services around Premium Listings and Offer Management to convert Prospects into Customers</p>

</div>
<div class="large-4 columns">
<img src="assets/images/get_loyalty_icon.png" style="margin:0 auto;text-align:center;display:block">
<h4 class="widget_title">Get Loyalty</h4>
<p class="widget_text">Our Feedback and Review Management systems , coupled with our Smart Retargeting Platform will ensure your Customers keep coming back!</p>

</div>

</div>

<div class="miss_wrapper">

<div class="miss">
  <span class="miss_caption">So Don't Miss Out!</span>
  <h4>Register Today for FREE!</h4>
</div>
</div>

 
 
 </div> 
<div class="large-4 columns">
<div class="reg_form">
 <div class="miss">
  <span class="miss_caption">Don't Miss Out!</span>
 </div>
 <div style="color:#D0021B;text-align:center;font-size:25px;  font-family: 'Raleway', sans-serif;">Add your Business for <br/><span style="text-decoration:underline"> FREE</span></div>

 <form class="form-horizontal">
    <fieldset>
   <div class="form-group">
                <div class="small-12 columns">

                  <div class="row collapse">
                    <div class="small-3 large-2 columns">
                      <span class="prefix"><img src="assets/icons/name_icon.png"></span>
                    </div>
                    <div class="small-9 large-10 columns">
                     <input type="text"  ng-model = 'missout.fullname' placeholder="Your Name" style="width:100%;padding:10px;" required >
             
                    </div>
                  </div>
                  
                  <div class="row collapse">
                    <div class="small-3 large-2 columns">
                      <span class="prefix"><img src="assets/icons/business_name_icon.png"></span>
                    </div>
                    <div class="small-9 large-10 columns">
                       <input type="text"  ng-model = 'missout.businessname' placeholder="Business Name" style="width:100%;padding:10px;" >
           
                    </div>
                  </div>

                  <div class="row collapse">
                    <div class="small-3 large-2 columns">
                      <span class="prefix"><img src="assets/icons/phone_icon.png"></span>
                    </div>
                    <div class="small-9 large-10 columns">
                      <input type="text"  ng-model = 'missout.phone' placeholder="Phone Number" style="width:100%;padding:10px;" >
      
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-3 large-2 columns">
                      <span class="prefix"><img src="assets/icons/email_icon.png"></span>
                    </div>
                    <div class="small-9 large-10 columns">
                       <input type="email"  ng-model = 'missout.email' placeholder="Email Address" style="width:100%;padding:10px;" required >
            
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-3 large-2 columns">
                      <span class="prefix"><img src="assets/icons/city_icon.png"></span>
                    </div>
                    <div class="small-9 large-10 columns">
                     <select type="text"  ng-model = 'missout.city' placeholder="Any other category not mentioned" style="width:100%;padding:10px;" required>

<option value="Baragoi">Baragoi</option>
<option value="Bungoma">Bungoma</option>
<option value="Busia, Kenya">Busia</option>
<option value="Butere">Butere</option>
<option value="Dadaab">Dadaab</option>
<option value="Diani Beach">Diani Beach</option>
<option value="Eldoret">Eldoret</option>
<option  value="Emali">Emali</option>
<option value="Embu, Kenya">Embu</option>
<option  value="Garissa">Garissa</option>
<option  value="Gedi">Gede</option>
<option  value="Hola, Kenya">Hola</option>
<option value="Homa Bay">Homa Bay</option>
<option value="Isiolo">Isiolo</option>
<option value="Kitui">Kitui</option>
<option  value="Kibwezi">Kibwezi</option>
<option  value="Makindu">Makindu</option>
<option value="Wote">Wote</option>
<option  value="Mutomo">Mutomo</option>
<option value="Kajiado">Kajiado</option>
<option value="Kakamega">Kakamega</option>
<option  value="Kakuma">Kakuma</option>
<option value="Kapenguria">Kapenguria</option>
<option value="Kericho">Kericho</option>
<option  value="Kiambu">Kiambu</option>
<option  value="Kilifi">Kilifi</option>
<option value="Kisii town" class="mw-redirect">Kisii</option>
<option value="Kisumu">Kisumu</option>
<option value="Kitale">Kitale</option>
<option value="Lamu, Kenya" class="mw-redirect">Lamu</option>
<option value="Langata" class="mw-redirect">Langata</option>
<option value="Litein">Litein</option>
<option value="Lodwar">Lodwar</option>
<option value="Lokichoggio" class="mw-redirect">Lokichoggio</option>
<option value="Londiani">Londiani</option>
<option value="Loyangalani" class="mw-redirect">Loyangalani</option>
<option value="Machakos">Machakos</option>
<option value="Malindi">Malindi</option>
<option value="Mandera">Mandera</option>
<option value="Maralal">Maralal</option>
<option value="Marsabit">Marsabit</option>
<option value="Meru, Kenya">Meru</option>
<option value="Mombasa">Mombasa</option>
<option  value="Moyale">Moyale</option>
<option value="Mumias">Mumias</option>
<option value="Muranga" class="mw-redirect">Muranga</option>
<option value="Nairobi">Nairobi</option>
<option value="Naivasha">Naivasha</option>
<option value="Nakuru">Nakuru</option>
<option value="Namanga">Namanga</option>
<option value="Nanyuki">Nanyuki</option>
<option  value="Naro Moru">Naro Moru</option>
<option value="Narok">Narok</option>
<option value="Nyahururu">Nyahururu</option>
<option value="Nyeri">Nyeri</option>
<option value="Ruiru">Ruiru</option>
<option value="Shimoni">Shimoni</option>
<option value="Takaungu">Takaungu</option>
<option value="Thika">Thika</option>
<option value="Vihiga">Vihiga</option>
<option value="Voi">Voi</option>
<option value="Wajir">Wajir</option>
<option value="Watamu">Watamu</option>
<option value="Webuye">Webuye</option>
<option value="Wundanyi">Wundanyi</option>

                   </select>
           
                    </div>
                  </div>
                  <hr/>
                    <div class="row collapse">
                  
                    <div class="small-11 large-12 columns">
                    <span style="color:#4E0C7D;   font-family: 'Raleway', sans-serif;text-align:center;display:block"> 
                    select <span style="text-decoration:underline">at most 3</span> categories which best <br/>describe your benefits </span>
                
           
                    </div>
                  </div>



                 <button class="miss_submit" ng-click='save()' type='submit'> SUBMIT ></button>
            </div>
        </div>
</fieldset>
</form>
</div>

</div>

